.container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  gap: 2.8rem;
  width: 90vw;
}

.container h1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.headIcon {
  color: linear-gradient(45deg, #f86f42, #faf9fe, #5ab54c);
}

.selectLanguage {
  margin-top: 25px;
  font-size: 13px;
}

.audioInput {
  color: #111;
  font-size: 14px;
  margin: 5px auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background: linear-gradient(45deg, #f86f42, #faf9fe, #5ab54c);
  border: none;
  width: 100%;
}

.mainContent {
  max-width: 65rem;
  width: 100%;
  min-height: 40rem;
  height: auto;
  padding: 1.8rem 1.8rem 12rem;
  resize: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: rgb(255 255 255);
  border-radius: 5px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}
.mainContentAudio {
  max-width: 65rem;
  width: 100%;
  min-height: 40rem;
  height: auto;
  margin-top: 25px;
  padding: 1.8rem 1.8rem 12rem;
  resize: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: rgb(255 255 255);
  border-radius: 5px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

.mainContent:focus {
  border: 0.3px solid rgb(43, 45, 56, 0.3);
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-top: -9.2rem;
  z-index: 2;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  border: none;
  background: linear-gradient(45deg, #f86f42, #faf9fe, #5ab54c);
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 430px) {
  .container {
    padding: 2rem 0;
  }

  .container h1 {
    text-align: center;
    font-size: 2.4rem;
    width: 60vw;
    margin-top: 4rem;
  }

  p {
    text-align: center;
    width: 60vw;
  }

  .btn {
    flex-direction: column;
    gap: 1rem;
    margin-top: 0;
  }

  button {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 325px) {
  .container {
    padding: 2rem 0;
    gap: 1.4rem;
  }

  .container h1 {
    text-align: center;
    font-size: 1.8rem;
    width: 60vw;
    margin-top: 2rem;
  }

  p {
    text-align: center;
    width: 70vw;
  }

  .btn {
    /* flex-direction: column; */
    gap: 1rem;
    margin-top: 0;
  }

  button {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}
